# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# assembled binaries
*.bin

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# directories
.cache
build
qemu_build
debug_build
**/__pycache__

# binaries
beamparser
main
main_debug

# misc
*.dump
*.beam
compile_commands.json

